section {
    color: rgb(0, 0, 0);
    text-shadow: 3px 3px rgba(50,50,70,0,5);
    background-color: #ffffff;
    height: 100vh;
    z-index: 3;
  }
  
  .navBg {
    background-color: #000000;
    z-index: 3;
  }
  
  .logo {
    height: 50px;
    width: 50px;
  }