.carrusel{
    width: 100%;
	height: 29em;
	border: 2px solid #fff;
    object-fit: cover;
}
.contenedorcarrusel{
    padding-left: 5em;
}

@media (max-width: 576px){
    .contenedorcarrusel{
        padding-left: 1em;
    }
}